.heroSection {
  background-color: #1F2937;
  font: Roboto sans-serif;
  color: #f9faf8;
  font-size: 48px;
    font-weight: 900;
  padding: 20px;
  text-align: center;
}
.heroSubTitle {
    font-size: 18px;
    color: #e5e7eb;
}