.hero {
  background-color: #1F2937;
  font: Roboto sans-serif;
  color: #f9faf8;
  font-size: 48px;
  text-align: center;
}

.button {
  background-color: #3882F6;
  color: #f9faf8;
}

.info {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36 px;
  text-align: center;
  color: #1F2937;
}